.img{
   background: linear-gradient(hwb(265 2% 55% / 0.863) 0%, #ee5fc3 100%, orange 30%);
}
*{
    padding: 0px;
    margin: 0px;
}
.ml-3{
    color: rgb(201, 12, 122);
    font-size: xx-large;
    font-family: 'Poppins', sans-serif;
    text-decoration: solid;
    cursor: pointer;
}
.title-font{
    color: rgb(206, 187, 21);
    cursor: pointer;
}
.mb-8{
    color: rgb(0, 0, 0);
}

nav{
    color: #df4db3;
}
.inline-flex{
    color: #5f08d18f;
    
}
.sec0{
    background-color: rgba(236, 233, 19, 0.589);
}
.sec1{
    background-color: rgba(233, 124, 200, 0.39);
    justify-content: center;
    align-items: center;
    margin: 100px;
}
.sec2{
    background-color: rgba(228, 225, 36, 0.315);
    justify-content: center;
    align-items: center;
    margin: 100px;
}
.sec3{
    background-color: rgba(214, 37, 155, 0.596);
    justify-content: center;
    align-items: center;
    margin: 100px;
}
.mt-1{
    color: rgb(211, 157, 77);
}
.sec7{
    background-color: rgba(126, 37, 199, 0.507);
    margin: 100px;
}
.pins{ 
    font-size: xx-large;
    text-align: center;
    color: #e6b410;
}